
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



// body{
//   overflow: hidden;
// }

.pageOne {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background-color: red;
  img {
    width: 100%;
  }
}

.pageTwo {
margin-bottom: 50px;
margin-left: 40px;
height: 900px;
}


// possibly fix the position of the gameboard divs?
.div {
width: 200px;
height: 180px;
display: inline-block;
font-size: 20px;
  img{
    width: 200px;
    height: 180px;
  }
}

.block {
  border: 2px solid black;
  background-color: red;
  // display: none;
  img {
    visibility: hidden;
  }
}


#lives {
  // padding: 10px;
  border: none;
    img {
    width: 50px;
    height: 50px;
  }
}

.answerText {
  margin-bottom: 30px;
  text-align: center;
}

.answerButtons {
  text-align: center;
  margin-bottom: 30px;
}
