html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

// MY CSS BEGINS HERE -->>>>>

$font-stack: 'Allan';

// Successfully nested and tested
.pageOne {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background-color: red;
  img {
    position: relative;
    width: 100%;
  }

}

.pageTwo {
margin-bottom: 50px;
height: 900px;

}



#myDiv {
margin-left: 40px;

  #title {
    font: 100% $font-stack;
    font-size: 83px;
    margin-top: 40px;
  }
  .subtitle {
    font: 100% $font-stack;
    font-size: 25px;
    color: black;
    text-shadow: -1px -1px 0 white,
      1px -1px 0 white,
      -1px 1px 0 white,
       1px 1px 0 white;
  }
}

#ok {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  font: 100% $font-stack;
}

#gameboard {
  background-image: url('/src/assets/images/themepark.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 109%;
  height: 100%;
}

// innergameboard to be nested within pageTWO
#innerGameboard {
  width: 1090px;
  margin: 0 auto;

  .div {
  width: 185px;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 165px;
  display: inline-block;
  font-size: 20px;
    .img{
      width: 180px;
      height: 160px;
      border: 5px solid black;
    }
  }

  .block {
    border: 2px solid grey;
    background-image: url('/src/assets/images/card-face.jpg');
    background-size: contain;
    // background-color: red;
    &.active {
      img {
        visibility: visible;
      }
    }
    img {
      visibility: hidden;
    }
  }

  #start{
    background-image: url('/src/assets/images/start.jpg');
    background-size: contain;
  }

  #winner {
    background-image: url('/src/assets/images/last.jpg');
    background-size: contain;
  }


  #lives {
    height: 100px;
    border: none;
      img {
      width: 50px;
      height: 50px;
    }

    .hearts {
      margin: 0 0 0 5px;
    }
  }

  .answerText {
    margin-bottom: 30px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font: 100% $font-stack;
    color: white;
    text-shadow: -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }

  .answerButtons {
    margin-bottom: 30px;
    display: inline-block;
  }

}


// .title {
//   font-size: 60px;
//   font: 100% $font-stack;
//   margin-top: 40px;
// }



// possibly fix the position of the gameboard divs?














// leave popup un-nested for now..
.popup {
  display: none;
  text-align: center;
  font: 100% $font-stack;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.8);

  &.active {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    font: 100% $font-stack;
    text-align: center;
  }
// ^^^leave this un-nested for now

  .inner {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.8);
    border-radius: 5px;
    font: 100% $font-stack;
    width: 400px;
    background-color: #ccc;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 50px;
    text-align: center;

  }
}
